<h1>Listing sources</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Author</th>
    <th>Subauthor</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= source.code %></td>
    <td><%= source.title %></td>
    <td><%= source.subTitle %></td>
    <td><%= source.author %></td>
    <td><%= source.subAuthor %></td>
    <td><%= source.year %></td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path %>
